/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem);
    opacity: 0.75; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-4.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  color: #777;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 3rem; }

.heading-primary {
  animation: moveInLeft 0.7s ease-in-out;
  backface-visibility: hidden;
  color: #fff;
  margin-bottom: 6rem;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    animation: moveInRight 0.7s ease-in-out;
    backface-visibility: hidden;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out; }
  .heading-secondary:hover {
    transform: skewX(20deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 20%); }

.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 25%); }

.grid-justify-space {
  justify-content: space-evenly; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-small {
  margin-top: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 5rem; }

.u-flex-cont {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem; }

.flex-col {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem; }

.grid-adjust {
  justify-content: center;
  grid-column-gap: 5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.gap-2 {
  gap: 2rem; }

.grid-all-center {
  justify-items: center;
  align-items: center; }

.u-padding-horizontal-medium {
  padding: 0 7rem; }

.btn:link, .btn:visited {
  border-radius: 100px;
  display: inline-block;
  padding: 1.5rem 3.3rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  font-size: 1.6rem; }

.btn:hover {
  box-shadow: 0 0.9rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem);
  opacity: 0.95; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.2);
    opacity: 0; }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  opacity: 1; }

.btn--grad:not(.btn--grad-1) {
  filter: contrast(1.55); }

.btn--grad-1 {
  background: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .btn--grad-1:active {
    color: rgba(255, 255, 255, 0.85); }

.btn--grad-2 {
  background: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .btn--grad-2:active {
    color: #7ed56f; }

.btn--grad-3 {
  color: #fff;
  background: linear-gradient(to right, rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.85)); }
  .btn--grad-3:active {
    color: rgba(255, 255, 255, 0.75); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: moveInBottom 0.4s ease-in-out .5s;
  backface-visibility: hidden;
  animation-fill-mode: backwards; }

.btn::after {
  border-radius: 100px;
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s;
  width: 100%;
  z-index: -1; }

.btn--white::after {
  background-color: #fff; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem; }
  .btn-text:link:hover, .btn-text:visited:hover {
    color: #fff;
    background-color: #55c57a;
    border-bottom: 1px solid #55c57a;
    box-shadow: 0 0.9rem 1.5rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.2rem); }
  .btn-text:link:active, .btn-text:visited:active {
    box-shadow: 0 0.9rem 2rem rgba(0, 0, 0, 0.12);
    transform: translateY(0); }

.header {
  background-image: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative; }
  .header__logo-box {
    left: 4rem;
    position: absolute;
    top: 4rem; }
  .header__logo {
    height: 3.2rem; }
  .header__text-box {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 44%;
    transform: translate(-50%, -50%); }

.section-about {
  padding: 25rem 0 27.5rem;
  background-color: #f7f7f7;
  margin-top: -20rem; }

.section-features {
  padding: 17.5rem 10rem;
  background-image: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8.5rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 24.5rem 0 15rem;
  margin-top: -8.5rem;
  background-color: #f7f7f7; }

.section-story {
  padding: 2rem 0;
  position: relative; }

.story {
  width: 67.5%;
  margin: 0 auto;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 7rem;
  position: relative;
  transform: skewX(-13deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-8rem);
    margin-right: 3rem;
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.35s ease-in-out; }
  .story > * {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.35s ease-in-out; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: brightness(85%) blur(4px); }

body {
  color: #777;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 3rem; }

.heading-primary {
  animation: moveInLeft 0.7s ease-in-out;
  backface-visibility: hidden;
  color: #fff;
  margin-bottom: 6rem;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    animation: moveInRight 0.7s ease-in-out;
    backface-visibility: hidden;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out; }
  .heading-secondary:hover {
    transform: skewX(20deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.composition {
  position: relative; }
  .composition__photo {
    transition: all 0.2s ease-in-out;
    width: 23vw;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      top: -2em;
      left: 0; }
    .composition__photo--p2 {
      top: -0.6rem;
      right: 1.5rem; }
    .composition__photo--p3 {
      top: 9.5rem;
      left: 18.5%; }
    .composition__photo:hover {
      outline: #55c57a inset 0.2rem;
      box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.5);
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    opacity: 0.9;
    transform: scale(0.95) skew(1deg); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background: linear-gradient(to right bottom, #7ed56f, #28b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .feature-box:hover {
    transform: scale(1.02) translateY(-1.5rem); }
    .feature-box:hover .feature-box__icon {
      background: linear-gradient(to right bottom, #28b485, #7ed56f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.tours-card {
  perspective: 200rem;
  display: block;
  position: relative;
  height: 52.5rem; }
  .tours-card:hover .tours-card__side--front {
    transform: rotateY(-180deg); }
  .tours-card:hover .tours-card__side--back {
    transform: rotateY(0); }
  .tours-card__side {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.12);
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 52.5rem;
    transition: all 0.6s ease-in-out; }
    .tours-card__side--front {
      background-color: #fff; }
    .tours-card__side--back {
      transform: rotateY(180deg);
      background-color: green; }
      .tours-card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900 0%, #ff7730 100%); }
      .tours-card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f 0%, #28b485 100%); }
      .tours-card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff 0%, #5643fa 100%); }
  .tours-card__picture {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%); }
    .tours-card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900 0%, #ff7730 100%), url("../img/nat-5.jpg"); }
    .tours-card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f 0%, #28b485 100%), url("../img/nat-6.jpg"); }
    .tours-card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff 0%, #5643fa 100%), url("../img/nat-7.jpg"); }
  .tours-card__heading {
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    text-align: right;
    right: 1rem;
    width: 75%; }
  .tours-card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .tours-card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .tours-card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .tours-card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .tours-card__details ul {
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto; }
    .tours-card__details ul li {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center; }
      .tours-card__details ul li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: capitalize; }
  .tours-card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .tours-card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .tours-card__price-value {
    font-weight: 300;
    font-size: 6rem;
    border-bottom: 2px solid #fff; }

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.2; }
  .bg-video__content {
    object-fit: cover;
    height: 100%;
    width: 100%; }

/* *::selection {
  color: red;
  background: lime;
}*/
