$primary-color: #55c57a;
$primary-light-green: #7ed56f;
$primary-dark-green: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$default-font-size: 1.6rem;