@import "../abstracts/mixins";
.u-center-text {
  text-align: center;
}

.grid--2-cols {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  @include respond("tab-port") {
    grid-template-columns:repeat(1, 1fr);
    justify-content: center;
  }
}
.grid--4-cols{
  display: grid;
  grid-template-columns:repeat(4, 20%);
  @include respond("tab-port") {
    grid-template-columns:repeat(2, 40%);
    row-gap:4rem;
  }
}
.gap-4{
  gap:4rem;
}
.form--group.u-margin-bottom-small{
  @include respond("tab-port") {
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    gap:2rem;
  }
  @include respond("phone") {
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    gap:1rem;
    font-size: 1.6rem;
  }
}
.composition{
  @include respond("tab-port") {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
    & img{
      width: 100%;
    }
    & img:last-child{
      grid-column: 1/-1;
      justify-self: center;
      width: 65%;
    }
  }
  @include respond("phone"){
    grid-template-columns:repeat(1, 90%);
    & img:last-child{
      width: 100%;
    }
  }
}
 .to-align{
   display: inline-block;
   @include respond("tab-port") {
     display: flex;
     justify-content: center;
     align-items: center;
   }
 }
 .to-decrease-padd{
   @include respond("small-phone") {
     padding: 0 3rem !important;
   }
 }
.composition__photo--p1, .composition__photo--p3, .composition__photo--p2 {
  @include respond("tab-port") {
      position: static !important;
  }
}
.grid--3-cols{
  display: grid;
  grid-template-columns:repeat(3, 25%);
  @include respond("tab-port") {
    grid-template-columns:repeat(2, 35%);
    gap: 3rem;
  }
  @include respond("small-phone") {
    grid-template-columns:repeat(1, 75%);
    gap: 3rem;
  }
}
.last-card{
  @include respond("tab-port") {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }
  @include respond("small-phone") {
    width: 100%;
  }
}
.grid-justify-space{
  justify-content: space-evenly;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
  @include respond("phone") {
    margin-bottom: 6rem;
  }
}
.u-margin-top-big {
  margin-top: 8rem;
  @include respond("phone") {
    margin-top: 6rem;
  }
}
.u-margin-top-small{
  margin-top: 3rem;
}
.u-margin-bottom-small{
  margin-bottom: 5rem;
}
.u-flex-cont{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.gap-8{
 gap:8rem;
}
.flex-col{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.grid-adjust{
  justify-content: center;
  grid-column-gap: 5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.grid-all-center {
  justify-items: center;
  align-items: center;
}

.u-padding-horizontal-medium {
  padding: 0 7rem;
}
.grid--2-cols.gap-8{
  @include respond("phone") {
    gap: 4.1rem;
  }
}